// COLOURS

$mainPink: #FF1493;
$black: #141414;
$lightgrey: #f5f5f5;
$white:#f5f3ef;
$shadows: #550055;
$overlay: rgba(245, 243, 239, 0.2);

// FONTS

$mainFont: 'Oswald', sans-serif;

// MIXINS

@mixin navLinks {
    color: $lightgrey;
    font-family: $mainFont;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin smallItems {
    color: $lightgrey;
    font-family: $mainFont;
    font-size: 1.25rem;
    font-weight: lighter;
    margin: 10px;
}