main{
    background: $black;
}

.breadCrumb {
    display: flex;
    justify-content: space-between;
    h4{
        padding: 0;
        margin: 40px 0 0;
    }
    a{
        @include smallItems;

    }
}

.portfolioGallery{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 20px 0 70px;
    text-align: center;
    li{
        margin: 5px;
        flex-basis: calc(100% / 4 - 10px);
    }
}

#imagelightbox{
        border: 10px solid $lightgrey;
    }

// MEDIA QUERIES

@media (max-width: 1100px){
    .portfolioGallery{
        li{
            flex-basis: calc(100% / 3 - 10px);
        }
    }
            
}

@media (max-width: 767px){
    .portfolioGallery{
        li{
            flex-basis: calc(100% / 2 - 10px);
        }
    }
            
}

@media (max-width: 480px){
    .portfolioGallery{
        li{
            flex-basis: calc(100% - 10px);
        }
    }
            
}