html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  margin: 0 auto;
  max-width: 1280px; }

* {
  border: 1px red dashed; }

a {
  text-decoration: none; }

html {
  font-size: 16px; }

img {
  display: block;
  width: 100%; }

ul {
  list-style-type: none;
  padding: 0; }

header {
  background-color: #141414; }

.headerFlex {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 70px 20px 0; }

h1 a {
  color: #FF1493;
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  font-weight: lighter;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px #550055; }

.allcaps {
  font-weight: bold;
  text-transform: uppercase; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px; }

nav li {
  padding: 10px 30px 0; }

nav a {
  color: #f5f5f5;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 1px;
  text-transform: uppercase; }

@media (max-width: 1100px) {
  .headerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media (max-width: 600px) {
  h1 a {
    font-size: 5rem; } }

@media (max-width: 480px) {
  h1 a {
    font-size: 3rem; }
  nav li {
    padding: 10px 10px 0; }
  nav a {
    color: #f5f5f5;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase; } }

main {
  background-color: #141414; }

.gallery {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 70px 0;
  text-align: center; }
  .gallery .galleryItem {
    margin: 10px;
    -ms-flex-preferred-size: calc(100% / 3 - 20px);
    flex-basis: calc(100% / 3 - 20px);
    position: relative;
    z-index: 0; }
    .gallery .galleryItem > .artistName {
      color: #f5f3ef;
      font-family: "Oswald", sans-serif;
      font-size: 1.3rem;
      font-weight: lighter;
      position: relative;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      z-index: 3; }
    .gallery .galleryItem .galleryOverlay {
      background-color: rgba(245, 243, 239, 0.2);
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1; }
  .gallery figure {
    margin: 0; }

.galleryItem:hover .galleryOverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.galleryItem:hover > .artistName {
  color: #FF1493;
  text-shadow: 1px 1px #550055;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5); }

@media (max-width: 980px) {
  .gallery .galleryItem {
    margin: 20px;
    -ms-flex-preferred-size: calc(100% / 2 - 40px);
    flex-basis: calc(100% / 2 - 40px); } }

@media (max-width: 767px) {
  .gallery .galleryItem {
    margin: 20px 40px;
    -ms-flex-preferred-size: calc(100% - 80px);
    flex-basis: calc(100% - 80px); } }

footer {
  background-color: #141414;
  padding: 70px 20px; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  text-align: center; }
  .contact h2,
  .contact .sms,
  .contact .email {
    color: #f5f5f5;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 2px; }

.contact h3:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.cvFlex {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.cvNav {
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .cvNav li {
    padding: 15px 50px; }
  .cvNav h3 {
    margin: 0; }
  .cvNav a {
    color: #f5f5f5;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase; }

section {
  display: none;
  width: 50%; }
  section ~ li {
    margin: 0;
    padding: 0; }

.menu.shown {
  display: block; }

.tourItem h4,
.eventItem h4,
.venueItem h4 {
  color: #f5f5f5;
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  font-weight: lighter;
  margin: 10px; }

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .list .artist,
  .list .event,
  .list .venue {
    margin-right: 0.5em;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .list .artist:after,
    .list .event:after,
    .list .venue:after {
      content: '';
      border-bottom: dashed 1px #FF1493;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .list .artist .date,
    .list .artist .location,
    .list .event .date,
    .list .event .location,
    .list .venue .date,
    .list .venue .location {
      text-align: right;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 8rem;
      flex: 0 0 8rem; }

@media (max-width: 767px) {
  .cvNav li {
    padding: 15px 30px; } }

@media (max-width: 480px) {
  .cvNav li {
    padding: 10px 12px; }
  section {
    width: 75%; }
  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .list .artist,
    .list .event,
    .list .venue {
      margin-right: 0.5em;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .list .artist:after,
      .list .event:after,
      .list .venue:after {
        border-bottom: none; }
  .list .date,
  .list .location {
    border-bottom: 1px dashed #FF1493;
    padding-bottom: 5px; } }

#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  top: 50%;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75); }

.imagelightbox-open {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden; }

.imagelightbox-loading, .imagelightbox-loading div {
  border-radius: 9999px; }

.imagelightbox-loading {
  background-color: rgba(130, 130, 130, 0.8);
  position: fixed;
  z-index: 10003;
  top: 50%;
  left: 50%;
  padding: .65em;
  margin: -1.3em 0 0 -1.3em;
  -webkit-box-shadow: 0 0 2.5em rgba(130, 130, 130, 0.6);
  box-shadow: 0 0 2.5em rgba(130, 130, 130, 0.6); }

.imagelightbox-loading div {
  width: 1.3em;
  height: 1.3em;
  background-color: #fff;
  -webkit-animation: imagelightbox-loading .5s ease infinite;
  animation: imagelightbox-loading .5s ease infinite; }

@-webkit-keyframes imagelightbox-loading {
  from {
    opacity: .5;
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    opacity: .5;
    -webkit-transform: scale(0.75);
    transform: scale(0.75); } }

@keyframes imagelightbox-loading {
  from {
    opacity: .5;
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    opacity: .5;
    -webkit-transform: scale(0.75);
    transform: scale(0.75); } }

.imagelightbox-overlay {
  background-color: rgba(30, 30, 30, 0.9);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.imagelightbox-close {
  border: none;
  cursor: pointer;
  width: 3em;
  height: 3em;
  background-color: rgba(130, 130, 130, 0.8);
  position: fixed;
  z-index: 10002;
  top: 2.5em;
  right: 2.5em;
  border-radius: 50%;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease; }

.imagelightbox-close:hover {
  background-color: #111; }

.imagelightbox-close:after, .imagelightbox-close:before {
  width: 2px;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  margin-left: -1px; }

.imagelightbox-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.imagelightbox-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.imagelightbox-caption {
  text-align: center;
  color: #fff;
  background-color: #666;
  position: fixed;
  z-index: 10001;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .625em; }

.imagelightbox-nav {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10001;
  left: 50%;
  bottom: 3.75em;
  padding: .313em;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 20px; }

.imagelightbox-nav a {
  position: relative;
  top: .2em;
  width: 1em;
  height: 1em;
  border: 1px solid #fff;
  display: inline-block;
  margin: 0 .313em;
  border-radius: 50%; }

.imagelightbox-nav .active {
  -webkit-animation: fade-in .45s linear;
  animation: fade-in .45s linear;
  background-color: #fff; }

.imagelightbox-navitem:active {
  background: grey; }

.imagelightbox-arrow {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 4em;
  height: 4em;
  background-color: rgba(130, 130, 130, 0.8);
  vertical-align: middle;
  display: none;
  position: fixed;
  z-index: 10001;
  top: 50%;
  padding: 0;
  margin-top: -3.75em; }

.imagelightbox-arrow:hover {
  background-color: rgba(0, 0, 0, 0.75); }

.imagelightbox-arrow:active {
  background-color: #111; }

.imagelightbox-arrow-left {
  left: 2.5em; }

.imagelightbox-arrow-right {
  right: 2.5em; }

.imagelightbox-arrow:before {
  width: 0;
  height: 0;
  border: 1em solid transparent;
  content: '';
  display: inline-block;
  margin-bottom: -7%; }

.imagelightbox-arrow-left:before {
  border-left: none;
  border-right-color: #fff;
  margin-left: -.35em; }

.imagelightbox-arrow-right:before {
  border-right: none;
  border-left-color: #fff;
  margin-left: .2em; }

.imagelightbox-arrow, .imagelightbox-close, .imagelightbox-loading, .imagelightbox-nav, .imagelightbox-overlay {
  -webkit-animation: fade-in .25s linear;
  animation: fade-in .25s linear; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media only screen and (max-width: 41.25em) {
  #container {
    width: 100%; }
  .imagelightbox-close {
    top: 1.25em;
    right: 1.25em; }
  .imagelightbox-arrow {
    width: 2.5em;
    height: 3.75em;
    margin-top: -1.875em; }
  .imagelightbox-arrow-left {
    left: 1.25em; }
  .imagelightbox-arrow-right {
    right: 1.25em; } }

@media only screen and (max-width: 20em) {
  .imagelightbox-arrow-left {
    left: 0; }
  .imagelightbox-arrow-right {
    right: 0; } }

main {
  background: #141414; }

.breadCrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .breadCrumb h4 {
    padding: 0;
    margin: 40px 0 0; }
  .breadCrumb a {
    color: #f5f5f5;
    font-family: "Oswald", sans-serif;
    font-size: 1.25rem;
    font-weight: lighter;
    margin: 10px; }

.portfolioGallery {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px 0 70px;
  text-align: center; }
  .portfolioGallery li {
    margin: 5px;
    -ms-flex-preferred-size: calc(100% / 4 - 10px);
    flex-basis: calc(100% / 4 - 10px); }

#imagelightbox {
  border: 10px solid #f5f5f5; }

@media (max-width: 1100px) {
  .portfolioGallery li {
    -ms-flex-preferred-size: calc(100% / 3 - 10px);
    flex-basis: calc(100% / 3 - 10px); } }

@media (max-width: 767px) {
  .portfolioGallery li {
    -ms-flex-preferred-size: calc(100% / 2 - 10px);
    flex-basis: calc(100% / 2 - 10px); } }

@media (max-width: 480px) {
  .portfolioGallery li {
    -ms-flex-preferred-size: calc(100% - 10px);
    flex-basis: calc(100% - 10px); } }
